.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container .title {
  text-align: center;
  font-size: 52px;
  margin: 24px 0;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 20px;
}
.item {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px;
  min-width: 800px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 32px;
}
.item img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}
.box {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.desc h1 {
  font-size: 30px;
}
.desc p {
  font-size: 18px;
  font-family: "Inter";
}

.status {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 14px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.swap {
  font-family: "Inter";
  font-size: 18px;
}
.swap span {
  font-weight: 700;
  font-family: "Inter";
  color: rgb(255, 145, 28);
}
.statusText {
  font-size: 24px;
  font-weight: 700;
}
.statusText span {
  font-weight: 700;
  font-family: "Inter";
  color: rgb(24, 206, 0);
}

.button {

  display: flex;
  justify-content: start;
  gap: 8px;
}

.button a {
  text-decoration: none;
}

.button button {
  display: flex;
  height: 30px;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
.reject{
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
}
.confirm{
  color: #fff;
  background-color: rgb(24, 206, 0);
}

.emptyMessage{
  font-family: 'Inter';
  font-size: 20px;
}
.emptyMessage a{
  font-weight: 700;
  color: rgb(255, 140, 0);
  text-transform: uppercase;
  text-decoration: underline;
}
